<Figaro xmlns="http://schemas.bdbxml.net/configuration/6.0/DS" >
  <DefaultContainerSettings allowCreate="true" allowValidation="false" checksum="false" compression="false" containerType="WholeDocContainer"
  exclusiveCreate="false" indexNodes="On" readOnly="false" sequenceIncrement="1" statistics="On" pageSize="1024"/>
  <Managers>
    <XmlManager home="demo" name="demoMgr" defaultContainerType="WholeDocContainer" defaultPageSize="1024"
        defaultSequenceIncrement="1" options="AllOptions">
      <Containers>
        <Container alias="demo" name="demo" path="demo.dbxml" allowCreate="true" allowValidation="false" checksum="false" compression="false"
            containerType="WholeDocContainer" exclusiveCreate="false" indexNodes="On" noMMap="true" pageSize="1024" readOnly="false"
            sequenceIncrement="1" statistics="On"/>
      </Containers>
    </XmlManager>
  </Managers>
</Figaro>